@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

:root {
    --color1: #F7EBEC;
    --color2: #DDBDD5;
    --color3: #856F9E;
    --color4: #59656F;
    --color5: #1D1E2C;
	--color6: #FF41D0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Press Start 2P';
	user-select: none;
}

#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-box-shadow:inset 0px 0px 0px 20px var(--color3);
	   -moz-box-shadow:inset 0px 0px 0px 20px var(--color3);
	        box-shadow:inset 0px 0px 0px 20px var(--color3);
	background-color: var(--color5);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#menu-container {
	height: 50px;
	width: 200px;
	background-color: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-play-button {
	font-size: 1.5rem;
	font-family: 'Press Start 2P';
	background-color: transparent;
	border: none;
	color: var(--color2);
	text-decoration: underline;
	cursor: pointer;
}
.menu-play-button:hover {
	color: var(--color1);
}


#game-container {
  	text-align: center;
}

.snake-title {
	color: var(--color3);
	font: 300 2em 'Press Start 2P', serif;
	margin: 0 auto;
}

.snake-p {
	color: var(--color2);
	margin-bottom: 0;
}

.snake {
	width: 80px;
	height: 20px;
	background-color: var(--color1);
}

.snake-score-p, .snake-high-score-p {
	color: var(--color3);
	text-decoration: underline;
}

.snake-score, .snake-high-score {
	color: var(--color1);
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 2rem;
}

#snakeGame {
	background-color: var(--color5);
	margin: 0 auto;
	align-self: center;
	order: 1;
	border: 20px solid var(--color3);
	border-radius: 1rem;
}

#game-over-container {
  	text-align: center;
}

.game-over-title {
	color: var(--color1);
	font: 300 2em 'Press Start 2P', serif;
}

.game-over-play-button {
	font-size: 1.5rem;
	color: var(--color3);
	font-family: 'Press Start 2P';
	background-color: transparent;
	border: none;
	text-decoration: underline;
	cursor: pointer;
}
.game-over-play-button:hover {
	color: var(--color2);
}

#go-back {
	color: var(--color2);
	font-size: .75rem;
	text-decoration: none;
}
#go-back:hover {
	color: var(--color1);
}
.go-back-text {
	text-decoration: underline;
}